.chat{

    &__input{
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction:row;
        align-items:center;
        position: relative;
    }

    &__send-icon{
        margin-left: 10px;
        color:#202020;
        opacity:0.3;
    }
    &__input-smail{
        color:#202020;
        opacity:0.3;
    }

}
.emoji-mart{
    position: absolute !important;
    bottom:90px !important;
}
.MuiSvgIcon-colorSecondary{
    color: #3674FF !important
}